/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Estilos para o título principal da página */
h1 {
    margin-top: 0;
}

/* Estilos para a navegação */
nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
}

h2 {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 10px 0;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
